<template>
	<section>
		<div class="tip-box">
			<img src="../assets/remind.png" alt="">
			<div id="box">
				<ul id="con1" ref="con1" :class="{anim:animate==true}">
					<li v-for='(item,index) in items' :index="item" :key="index" >{{item.name}}</li>
				</ul>
			</div>
			<span class="changeTip">换一换</span>
		</div>
		<!--  -->
	</section>
</template>

<script>
	export default {
		data(){
			return{
				animate:false,
				items:[
					{name:"恭喜《京津冀地区行业季度分析报告》获得廊坊银行第三届创新科技大赛论文优秀奖！！！"},
					{name:"京津冀地区行业季度分析报告》获得廊坊银行第三届创新科技大赛论文优秀奖！！！"},
					{name:"获得廊坊银行第三届创新科技大赛论文优秀奖！！！"}
				]
			}
		},
		created(){
			setInterval(this.scroll, 2000)
		},
		methods:{
			scroll(){
				this.animate = true;
					setTimeout(()=>{
						this.items.push(this.items[0]);
						this.items.shift();
						this.animate = false;
				},500)
			}
		}
	}

</script>

<style scoped lang="scss">
	@import '~scss_vars';
	.tip-box{
		background-color:#ffffff;
		height: 56px;
		line-height: 56px;
		color: #333333;
		font-weight: 700;
		font-size: 16px;
		border-radius: 8px;
		position: relative;
		overflow: hidden;
		img{
			vertical-align: super;
			margin-left: 30px;
			margin-right: 20px;
		}
		#box{
			height: 56px;
			display: inline-block;
			overflow: hidden;
		}
		#con1.anim{
			transition: all 0.5s;
			margin-top: -56px;
		}

		#con1 {
			display: block;
			position: absolute;
			top: 0;
			left: 60px;
			margin: 0;
		}
		#con1 li{
			list-style: none;
			line-height: 56px;
			height: 56px;
		}
		.changeTip{
			color: #4BA5F0;
			font-size: 18px;
			float: right;
			font-weight: 400;
			margin-right: 30px;
		}
	}
</style>