<template>
    <section class="chart-container">
       sort
    </section>
</template>

<script>
    import echarts from 'echarts'

    export default {
        data() {
            return {
                chartColumn: null
            }
        },

        methods: {
           
        },

        mounted: function () {
        },
        updated: function () {
        }
    }
</script>

<style scoped>
   
</style>
